@import url('Berlinerds_CSS_Framework/main.css');

/* head */

.head_line {
	height: 5px; 
	background: #eee;
}

.navigation_items {

}

.navigation_items .navigation_item {
	background: none;
	padding: 0;
}

.navigation_items .navigation_item.navigation_menu {
	margin: 0 5px;
}

.navigation_items .navigation_item.navigation_flags {
	margin: 0 2px;
}

/* slider */

.head_slider {
	
}

.head_slider__holder {
	background: url('../img/cubes.png'), #F2F2F2;
	min-height: 300px;
	box-shadow: 0 0px 9px rgba(0, 0, 0, .05) inset;
}

.slider_items, .slider_items > * {
	list-style: none;
	margin: 0px;
	padding: 0px;
	max-height: 425px;
	overflow: hidden;
}

.slider_item__block {
	z-index: 3;
	background: rgba(255, 255, 255, 0.92);
	margin: 0 0 0 1%;
	box-shadow: 3px 0 10px rgba(0, 0, 0, 0.35), 0 0px 9px rgba(0, 0, 0, .05) inset;
}

.slider_item > img {
	box-shadow: 0 0px 9px rgba(0, 0, 0, .05) inset;

	-webkit-transform: translate(0, -25%);
	-moz-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%); 
}

.slider_next, .slider_back {
	top: 0px;
}

.slider_next {
	right: 0px;
}

.slider_back {
	left: 0px;
}