input[type=text], 
input[type=password],
textarea,
select {
	width: 100%;
}

input[type=submit][disabled],
textarea[disabled],
select[disabled],  {
	opacity: 0.4;
	cursor: no-drop !important;
}

input[type=text] {
	border: 2px solid rgb(216, 216, 216);
	padding: 7px 9px;
	margin: 1em 0;
	border-radius: 3px;
	color: #444;
	font-size: 0.95em;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

input[type=text]:focus {
	border-color: rgb(196, 197, 255);
	outline: none;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

input[type=password] {
	border: 2px solid rgb(216, 216, 216);
	padding: 7px 9px;
	margin: 1em 0;
	border-radius: 3px;
	color: #444;
	font-size: 0.95em;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

input[type=password]:focus {
	border-color: rgb(196, 197, 255);
	outline: none;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

input[type=radio], 
input[type=checkbox] {
	margin: 1em 10px 0.2em 0; 
}

input[type=submit] {
    border: 1px solid red;
}

textarea {
	border: 2px solid rgb(216, 216, 216);
	padding: 7px 9px;
	margin: 1em 0;
	border-radius: 3px;
	color: #444;
	font-size: 0.95em;
	height: 140px;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

textarea:focus {
	border-color: rgb(196, 197, 255);
	outline: none;
	
	transition: all 250ms ease;
	        -webkit-transition: all 250ms ease;
	        -moz-transition: all 250ms;
}

select {
	border: 2px solid rgb(216, 216, 216);
	padding: 7px 9px;
	margin: 1em 0;
	border-radius: 3px;
	color: #444;
	font-size: 0.95em;
	background: #fff;
	height: 35px;
}

select:focus {
	border-color: rgb(196, 197, 255);
	outline: none;
}

select option {

}

.drop-area {
    border: 3px dashed #ddd;
    margin: 1em 0;
}

.drop-area::before {
    content: "\e022";
    position: relative;
    top: 42%;
    display: inline-block;
    font-family: 'icons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.8em;
    margin: 0 8px 0 0;
    left: 50%;
    text-align: center;
    color: #ddd;
}

