/* --- WIDTHS --- */

[class^=w-] {
	margin-bottom: 1%;
}

.w-fixed {
	width: 1080px;
	margin: 0 auto;
}

.w-all { width: 100%;}

.w-1080 { width: 1080px;}

.w-960 { width: 960px;}

.w-90 {	width: 90%;}

.w-80 {	width: 80%;}

.w-75 {	width: 75%;}

.w-60 {	width: 60%;}

.w-50 {	width: 50%;}

.w-40 {	width: 40%;}

.w-25 {	width: 25%;}

.w-20 {	width: 20%;}

.w-10 {	width: 10%;}

/* --- HEIGHTS --- */

.h-20 { height: 2em; }

.h-30 { height: 3em; }

.h-40 { height: 4em; }

.h-50 { height: 5em; }

.h-80 { height: 8em; }

.h-100 { height: 10em; }

.h-120 { height: 12em; }

.h-150 { height: 15em; }

.h-all { height: 100%; }



@media screen and (max-width: 68.75em) { /* 1100px */
	.w-fixed { width: 960px !important; }

	.w-all { width: 100%;}

	.w-1080 { width: 960px;}

	.w-960 { width: 100%;}

	.w-90 {	width: 70%;}

	.w-80 {	width: 70%;}

	.w-75 {	width: 70%;}

	.w-60 {	width: 70%;}

	.w-50 {	width: 50%;}

	.w-40 {	width: 30%;}

	.w-25 {	width: 30%;}

	.w-20 {	width: 30%;}

	.w-10 {	width: 30%;}
}

@media screen and (max-width: 60em) { /* 960px */
	.w-fixed { width: 810px !important; }
	.w-1080 { width: 810px !important; }
}

@media screen and (max-width: 56.25em) { /* 900px */
	.w-fixed { width: 80% !important; }
	.w-1080 { width: 80% !important; }
}

@media screen and (max-width: 48em) { /* 768px */

}

@media screen and (max-width: 37.5em) { /* 600px */

}

@media screen and (max-width: 30em) { /* 480px */
	.w-fixed {
		width: 90% !important;
		margin: 0 auto !important;
	}

	.w-all { width: 100%;}

	.w-1080 { width: 100%;}

	.w-960 { width: 100%;}

	.w-90 {	width: 100%;}

	.w-80 {	width: 100%;}

	.w-75 {	width: 100%;}

	.w-60 {	width: 100%;}

	.w-50 {	width: 100%;}

	.w-40 {	width: 100%;}

	.w-25 {	width: 100%;}

	.w-20 {	width: 100%;}

	.w-10 {	width: 100%;}
}

@media screen and (max-width: 20em) { /* 320px */

}
